<section class="user-card">
    <h1 class="user-card_title">Create or Search product</h1>
    <form id="manage-form" class="manage-form">
            <div class="form-group">
                <label for="userID">User ID</label>
                <input type="text" id="userID" name="lpa_user_ID" placeholder='User ID' required readonly>
            </div> 

            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" id="userName" name="lpa_user_username" placeholder='User Name' required>
            </div>

            <div class="form-group">
                <label for="userFirstName">User First Name</label>
                <input type="text" id="userFirstName" name="lpa_user_firstname" placeholder='User First Name' required>
            </div>

            <div class="form-group">
                <label for="userLastName">User Last Name</label>
                <input type="text" id="userLastName" name="lpa_user_lastname" placeholder='User Last Name' required>
            </div>
            
            <div class="buttons">
            <button id="save" type="button" class="btn">Save</button>
            <button id="close" type="button" class="btn">Close</button>
            </div>
            
            <div id="message"></div>
    </form>
</section>